body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
}

.footer-border{
    border-top:1px solid #ccc;
}

footer {
    background-color: #ffffff;
    color: #000;
    text-align: center;
    padding: 20px 0;
}