<div class="container mt-4">
    <h1 class="text-center">Merhaba 👋</h1>
  
    <p>
      Ben {{ name }}. {{ studiedAt }} {{ graduatedFrom }}  mezunuyum.
      Eğitimim boyunca birçok farklı teknolojiyi denedim. Fakat web geliştirme alanı ilgimi çektiğinden dolayı bu alana yöneldim. HTML, CSS, JavaScript ve jQuery gibi
      temel teknolojileri biliyorum ve Bootstrap, Materialize, Tailwind CSS, gibi popüler web
      frameworkleriyle deneyimim var. Stajlarım ve iş yeri eğitimi süreçlerimde PHP, React.js kullanılan projelerde yer aldım. Ayrıca .NET ve Angular eğitimlerine de katıldım. Halen kendimi geliştirmeye devam ediyor ve öğrendiklerimi uygulamaya çalışıyorum. Bu pozisyonda uzun vadeli bir kariyer edinerek tecrübeli bir geliştirici olmayı amaçlıyorum.
    </p>
  
    <h3 class="mb-4">Benim Hakkımda:</h3>
  
    <ul class="list-group">
      <li class="list-group-item">❤️ Kitap okumayı, bisiklet sürmeyi, kodlamayı severim. Kamp, konser, gezi, kültür ve sanat etkinliklerine katılmak ve yeni şeyler deneyimlemek beni mutlu eder. 📚🚴🏼‍♀️👩‍💻🏕️🎶🎭</li>
      <li class="list-group-item">🔭 Şu an <b>{{ learning }}</b> çalışıyorum.</li>
      <li class="list-group-item">🌱 Şu an <b>{{ learning }}</b> öğrenmeye devam ediyorum.</li>
      <li class="list-group-item">🌍 Bu benim websitem -> <a href="{{ website }}" class="text-decoration-none text-dark" target="_blank"><b>{{ website }}</b></a> (fakat şu anda bakım aşamasında)</li>
      <li class="list-group-item">💻 Projelerimi <a href="{{ githubProfile }}" class="text-decoration-none text-dark" target="_blank"><b>Github</b></a> 'a ekliyorum.</li>
      <li class="list-group-item">🤳🏻 Burada yazılıma dair paylaşımlar yapıyorum. <a href="{{ instagramProfile }}" target="_blank"><img src="https://raw.githubusercontent.com/maurodesouza/profile-readme-generator/master/src/assets/icons/social/instagram/default.svg" width="20" height="20" alt="instagram logo" /></a></li>
      <li class="list-group-item">📝 Burada yazılar yazıyorum. <a href="{{ mediumProfile }}" target="_blank"><img src="https://raw.githubusercontent.com/maurodesouza/profile-readme-generator/master/src/assets/icons/social/medium/default.svg" width="20" height="20" alt="medium logo" /></a></li>
      <li class="list-group-item">📄 Deneyimlerimden haberdar olmak isterseniz buradayım. <a href="{{ linkedinProfile }}" target="_blank"><img src="https://raw.githubusercontent.com/maurodesouza/profile-readme-generator/master/src/assets/icons/social/linkedin/default.svg" width="20" height="20" alt="linkedin logo" /></a></li>
      <li class="list-group-item">📫 Mail ile bana ulaşabilirsiniz. <a href="mailto:{{ email }}"><img src="https://raw.githubusercontent.com/maurodesouza/profile-readme-generator/master/src/assets/icons/social/gmail/default.svg" width="20" height="20" alt="gmail logo"  /></a></li>
    </ul>
  
    <h3 class="mt-4">Teknolojiler:</h3>
  
    <div class="row languages-tools">
        <div class="col-md-6">
            <img src="../../assets/tools.png" alt="languages and tools" class="img-fluid">
        </div>
    </div>
  </div>
