<div class="container py-5">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div *ngFor="let item of sliderData; let i = index" class="carousel-item" [class.active]="i === 0">
        <div class="half-post-entry d-block d-lg-flex">
          <img src="{{ item.urlToImage ? item.urlToImage : 'https://images.unsplash.com/photo-1504711434969-e33886168f5c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' }}" class="img-bg" alt="..." />
          <div class="contents bg-light">
            <span class="caption">{{item.author}}</span>
            <h2>
              <a href="blog-single.html"
                >{{item.title}}</a
              >
            </h2>
            <p class="mb-3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Voluptate vero obcaecati natus adipisci necessitatibus eius, enim
              vel sit ad reiciendis. Enim praesentium magni delectus cum,
              tempore deserunt aliquid quaerat culpa nemo veritatis, iste
              adipisci excepturi consectetur doloribus aliquam accusantium
              beatae?
            </p>
            <div class="post-meta">
              <span class="d-block"
                ><a href="#">Dave Rogers</a> in <a href="#">Food</a></span
              >
              <span class="date-read"
                >Jun 14 <span class="mx-1">•</span> 3 min read
                <span class="icon-star2"></span
              ></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="news-section mt-5">
    <div class="container">
      <div class="row">
        <div *ngFor="let item of listData" class="col-md-6 col-sm-12 mb-4">
          <div class="card border-0 shadow">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{{ item.urlToImage ? item.urlToImage : 'https://images.unsplash.com/photo-1624269305548-1527ef905ff6?q=80&w=1884&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' }}"
                  class="img-fluid rounded-start"
                  alt="News Image 1"
                  width="100%"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-title mb-3">{{item.title}}</h6>
                  <p class="card-text text-muted small">
                    {{item.author}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
